{%- assign education = data.education -%}

<div class="education mt-3">
  <span class="fs-2 fw-bold">{{ education.title }}</span>
  {%- for info in education.info -%}
    <div class="row my-3 mb-4">
      <div class="col" style="flex: 0 0 80px;">
        <img
          src="assets/images/{{ info.icon }}"
          alt=""
          class="img-fluid my-auto">
      </div>
      <div class="col-8 col-xs-8">
        <div class="row">
          <div class="fs-4 fw-bold">{{ info.school }}</div>
        </div>
        <div class="row">
          <div class="fs-6">{{ info.degree }}, {{ info.field_of_study }}</div>
        </div>
        <div class="row">
          <div class="fs-6 text-secondary">{{ info.time }}</div>
        </div>
        <div class="row mt-2">
          <div class="fs-6">{{ info.description | markdownify }}</div>
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>
