{%- assign skill_tree = data.skill_tree -%}
{%- assign skills = skill_tree.info | sort: "rate" | reverse -%}

<div class="skills mt-3">
  <span class="fs-2 fw-bold">{{ skill_tree.title }}</span>
  <div class="row row-cols-1 row-cols-lg-3 gx-5 mt-2">
    {%- for info in skills -%}
      <div class="col my-3">
        <img
          src="assets/images/{{ info.icon }}"
          alt=""
          class="icon">
        <span class="item_title fs-5 fw-bold mx-2">{{ info.name }}</span>
        <div class="progress mt-2">
          <div class="progress-bar bg-success" style="width: {{ info.rate }}%"></div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>
