html body {
  background-color: #f8f8f8;
}

.profile {
  .avatar {
    height: 150px;
  }

  .icon {
    height: 50px;
  }

  .slogan {
    background-color: #555;
  }
  
}

.skills {
  .icon {
    height: 40px;
  }
  .item_title {
    vertical-align: middle;
  }
}

.education {
  .icon {
    height: 70px;
  }
}

.portfolio {
  .image {
  }
}